{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='avatars/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user_post', username=post.author.username) }}">{{ post.author.username
                }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d at %H:%M') }}</small>
            {% if post.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                   href="{{ url_for('update_post',post_id=post.id)}}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
                    Delete
                </button>
            </div>
            {% endif %}
        </div>

        <h2><a class="article-title">{{ post.title }}</a></h2>
        {% if post.picture != None %}
              <img class="img-fluid" src="{{ url_for('static', filename='avatars/' + post.picture) }}">
              {% else %}
              {% endif %}
        <p class="article-content">{{ post.content }}</p>
        {% if current_user.is_authenticated %}
        <div class="content-section" style="padding: 10px 20px 0px">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group" style="margin-bottom: 0rem">
                        {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.content(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-warning btn-sm") }}
                </div>
            </form>
        </div>
        {% else %}
        {% endif %}

        <div class="media-body"><h6>Comments:</h6>
            <div class="content-section">
                {% for comment in post.comments|sort(attribute='date_posted', reverse=True) %}
                <img class="rounded-circle comment-img"
                     src="{{ url_for('static', filename='avatars/' + comment.comment_author.image_file) }}">
                <small class="text-muted"><b>{{ comment.comment_author.username }}</b></small>
                <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d @%H:%M') }}</small>
                <p class="comment-content">{{ comment.content }}</p>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</article>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_post',post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}